
.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
  // max-width: 200px;
}
mat-nav-list a{
  color: white;
  span{
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
  }
}
.active{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
mat-nav-list a:hover{
  background-color: rgba(255, 255, 255, 0.281);
}
.name-styles{
  font-size: 16px !important;
  font-family: muli,sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.child-name-styles{
  font-size: 13px !important;
  font-family: muli,sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  word-spacing: 0.5px;

}
// background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
// <div *ngIf="iselement === 3" class="">
//             <mat-card>
//             <h1>Workers Details</h1>
//             <div class="row">
//                 <mat-label>Basic Type</mat-label>
//                 <div class="col-3">
//                     <input type="radio" id="html" name="fav_language" value="HTML">
//                     <label for="html">Named</label><br>
//                 </div>
//                 <div class="col-3">
//                     <input type="radio" id="html" name="fav_language" value="HTML">
//                      <label for="html">Un named</label><br>
//                 </div>
//             </div>
//             <div class="row justify-content-center mt-4">
//                 <div class="col-6">
//                     <mat-label>Type of inustry</mat-label>
//                     <mat-form-field appearance="outline" class="w-100">
//                         <mat-label>Select</mat-label>
//                         <mat-select>
//                           <mat-option value="one">one</mat-option>
//                           <mat-option value="two">Second</mat-option>
//                         </mat-select>
//                     </mat-form-field>
//                 </div>
//                 <div class="col-6">
//                     <mat-label>Nature of work</mat-label>
//                     <mat-form-field appearance="outline" class="w-100">
//                          <input matInput placeholder="">
//                     </mat-form-field>
//                 </div>
//             </div>
//             <div class="row">
//                 <div class="col-12">
//                     <mat-expansion-panel >
//                         <mat-expansion-panel-header class=" style">
//                                 <div class="col-1 text ">Type of Employeement</div>
//                                 <div class="col-1 text ">Type of Workers</div>
//                                 <div class="col-3 text "> Trade Description</div>
//                                 <div class="col-2 text ">Trade Sub Categoery</div>
//                                 <div class="col-1 text ">Classsification number</div>
//                                 <div class="col-1 text ">number of Worker Employees</div>
//                                 <div class="col-1 text ">MOnthly Wages per Workers</div>
//                                 <div class="col-1 text">add</div>
//                                <div class="col-1 text">delete</div>
//                         </mat-expansion-panel-header>
//                            <div class="row">
//                         <div class="col-1 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <mat-label class="style1" >Employee worker </mat-label>
//                                 <mat-select>
//                                   <mat-option >first</mat-option>
//                                   <mat-option >Second option</mat-option>
//                                 </mat-select>
//                               </mat-form-field>
//                         </div>
//                         <div class="col-1 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <mat-label class="style1">Unskilled</mat-label>
//                                 <mat-select>
//                                   <mat-option >Unskilled</mat-option>
//                                   <mat-option >Skilled</mat-option>
//                                 </mat-select>
//                               </mat-form-field>
//                         </div>
//                         <div class="col-3 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <mat-label class="style1">All Types of Stocks Of Row Material</mat-label>
//                                 <mat-select>
//                                   <mat-option >All Types of Stocks Of Row Material</mat-option>
//                                   <mat-option >Second option</mat-option>
//                                 </mat-select>
//                               </mat-form-field>
//                         </div>
//                         <div class="col-2 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <mat-label class="style1">AGRO (CH NO AGRO2)</mat-label>
//                                 <mat-select>
//                                   <mat-option >AGRO (CH NO AGRO2)</mat-option>
//                                   <mat-option >Second option</mat-option>
//                                 </mat-select>
//                               </mat-form-field>
//                         </div>
//                         <div class="col-1 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                               <input matInput placeholder="">
//                             </mat-form-field>
//                         </div>
//                         <div class="col-1 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <input matInput placeholder="">
//                               </mat-form-field>
//                         </div>
//                         <div class="col-1 ">
//                             <mat-form-field appearance="outline" class="w-100 height">
//                                 <input matInput placeholder="">
//                               </mat-form-field>
//                         </div>
//                         <div class="col-1"><mat-icon>add</mat-icon> </div>
//                         <div class="col-1"> <mat-icon>delete</mat-icon></div>
//                     </div>
//                     </mat-expansion-panel>
//                 </div>
//             </div>
        //     <div class="row">
        //         <mat-checkbox>Ocupational Disease Cover </mat-checkbox>
        //     </div>
        //     <div class="row">
        //         <div class="col-6">
        //         <mat-checkbox>Extension For Medical Expences</mat-checkbox>
        //     </div>
        //     <div class="col-6">
        //         <mat-label>Medical Expences Limit Per Person</mat-label>
        //         <mat-form-field appearance="outline" class="w-100 height">
        //             <mat-label class="style1">Medical expences coverd upto RS 25000</mat-label>
        //             <mat-select>
        //               <mat-option >25000 limit</mat-option>
        //               <mat-option >less than 25000</mat-option>
        //             </mat-select>
        //           </mat-form-field>
        //     </div>
        //     </div>
        //     <div class="row">
        //         <mat-checkbox>Extension For Contractor &Sub Contractor Employess</mat-checkbox>
        //     </div>
        //     <div class="row">
        //         <div class="col-6">
        //             <mat-label>Discount</mat-label>
        //             <mat-form-field appearance="outline" class="w-100 height">
        //                 <input matInput placeholder="">
        //               </mat-form-field>
        //         </div>
        //         <div class="col-6">
        //             <mat-checkbox>Terrorism</mat-checkbox>
        //         </div>
        //     </div>
        //     <div class="row">
        //         <div class="col-6">
        //             <mat-label>Loading</mat-label>
        //             <mat-form-field appearance="outline" class="w-100 height">
        //                 <input matInput placeholder="">
        //               </mat-form-field>
        //         </div>
        //     </div>
        //     <div class="row">
        //         <div class="col-9"></div>
        //         <div class="col-1 text-end"><button class="border">back</button></div>
        //         <div class="col-2 text-end"><button class="border">calculate Permium</button></div>
        //     </div>
        //  </mat-card>
        // </div>
