<div class="row">
  <div class="col-2">
    <mat-form-field appearance="legacy" class=" w-100 searchbar pt-2">
      <mat-icon matSuffix color="warn">search</mat-icon>
      <input matInput placeholder="search">
    </mat-form-field>
  </div>
  <div class="col-2 pt-3">
    <button  mat-raised-button color="primary" (click)="onclickaddclientopen()">ADD CLIENT</button>
  </div>
  <div class="col-1 col-md-4 col-xl-1 pt-3 text-end">
    <button mat-mini-fab color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-lg-5 col-xl-3 pt-3 " *ngFor="let details of clientdetails">
   <mat-card class="take">
     <div class="row">
       <div class="col-3 ">
         <img class="w-100" src={{details.imagePath}}>
       </div>
       <!-----------------DIV 2 ENDS HERE--------------------->
       <div class="col-6">
         <mat-card-title class="title">{{details.name}}</mat-card-title><br>
         <mat-card-subtitle class="d-flex">
           <mat-icon class="me-2">email</mat-icon> {{details.email}}
         </mat-card-subtitle>
         <p class="d-flex">
           <mat-icon class="me-2">phone </mat-icon>{{details.phone}}
         </p>
       </div>
       <!---------------------DIV 3 ENDS HERE------------------>
       <div class="col-3">
        
         <mat-icon  color="primary" (click)="onclickeditclientopen()">edit</mat-icon>
         <mat-icon  color="warn">delete</mat-icon>
       </div>
       <!-------------------DIV 4 ENDS HERE-------------------->
     </div>
   </mat-card>
  </div>
  </div>
