.image1{
    width: 500px;
    height: 200px;
}
.style{
    border: 1px solid rgb(139, 139, 180);
    border-radius:9px;
    width: 380px;
    margin-left: 40px;
}
.back{
    color:rgb(163, 163, 230);
}
.back1{
    color: red;
}
.weddy{
    font-size: 12px;
}
.cardd{
 padding-left: 20px;
}