.heading{
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;

    
}
.takecard{
    border: 1px solid rgb(136, 136, 136);
    border-radius: 12px ;
}

.remove{
    color: rgb(255, 0, 0);
    background : rgb(255, 255, 255) !important;
    
    
}
.add{
    color:green;
    background-color: white;         
}
.one{
    font-size: x-large;
    padding-left: 13px;
    padding-top: 13px;
    
}
.firstpanel{
    padding-left: 50px;
}
.panel{
    background-image: linear-gradient(to left, white, rgb(69, 138, 218) ) !important;
}

.sticky {
    transform: rotate(316deg);
    position: absolute;
    text-align: center;
    background: #FFD000;
    top: 79%;
    color: black !important;
    font-size: 13px !important;
    right: -40%;
 
    width: 100%;
    height: 23px;
    letter-spacing: 1px;
}
    .over{
        overflow: hidden;
    }




