.take{
    border: 2px solid black;
}

.firstcard{
    padding-left: 25px;
}
.receipt{
    background-color: black;
    color: white;
    border-radius: 5px;
    
}
.currency{
    background-color: rgb(0, 116, 39);
    color: white;
    margin-left: 3px;
    border-radius: 5px;
}
.post{
    background-color: rgb(8, 0, 119);
    color: white;
    margin-left:3px;
    border-radius: 5px;
}
.takeaway{
    color: blue;
}
.currency1{
    color: green;
}
.close{
    color: red;
}
.ma6ty{
    height: 86vh;
    width: 100vw;
}










