<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-3">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Select</mat-label>
            <select matNativeControl required>
                <option value="firstoption">First Option</option>
                <option value="secondoption">Second Option</option>
            </select>
        </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-3">
        <mat-form-field appearance="outline" class="w-100 mt-3 ">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="search">
        </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-1 mt-4 ">
        <button mat-raised-button color="primary" class="w-100" (click)="onclicktakeawayopen()">Take Away</button>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-1 mt-4">
        <button mat-raised-button color="primary" class="w-100" (click)="onclickhomedeliveryopen()">Home Delivery</button>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-1 mt-4">
        <button mat-raised-button color="primary" class="w-100" (click)="onclickdiningopen()" >Dining</button>
    </div>
    <button mat-mini-fab color="primary" class="mt-4">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
<mat-card class="ma6ty">
<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-3 mt-3 firstcard" *ngFor="let value of cashierdashboard">
        <mat-card class="take">

            <div class="row">
                <h3 class="takeaway">Take away</h3>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    <mat-icon class="receipt">receipt_long</mat-icon>
                    <mat-icon class="currency">currency_rupee</mat-icon>
                    <mat-icon class="post">post_add</mat-icon>
                </div>
            </div>
            <div class="row ">
                <div class="col-9 text-end">
                    <mat-icon>currency_rupee</mat-icon>

                </div>
                <div class="col-2">
                    <h3>{{value.item1}}</h3>
                </div>
                
            </div><hr>

           
            <div class="row">
                <div class="col-4">

                    <p>1.veg</p>
                </div>
                <div class="col-4">

                    <p>1</p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <mat-icon class="currency1">currency_rupee</mat-icon>
                        </div>
                        <div class="col-2">
                            <span class="text-align-center">{{value.item2}}</span>
                        </div>
                        <div class="col-2 ">
                            <mat-icon class="close">&#10006;</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">

                    <p>2.veg</p>
                </div>
                <div class="col-4">

                    <p>1</p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <mat-icon class="currency1">currency_rupee</mat-icon>
                        </div>
                        <div class="col-2">
                            <span class="text-align-center">{{value.item3}}</span>
                        </div>
                        <div class="col-2 ">
                            <mat-icon class="close">&#10006;</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">

                    <p>3.Non-veg</p>
                </div>
                <div class="col-4">

                    <p>1</p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <mat-icon class="currency1">currency_rupee</mat-icon>
                        </div>
                        <div class="col-2">
                            <span class="text-align-center">{{value.item4}}</span>
                        </div>
                        <div class="col-2 ">
                            <mat-icon class="close">&#10006;</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
</mat-card>
