.back{
    border: 1px solid rgb(141, 138, 138);
}
.style{
    width: 200px;
    height: 200px;
}
.back1{
    border: 1px solid rgb(194, 213, 194);
    height: auto;
    background-color: white;
}
.style1{
    background-color: aqua;
}
.scroll{
    overflow: auto;
    height: 90vh;
}
.first{
    float: left;
}
.primary{
    background-color: rgb(163, 163, 224);
    color:white;
    height:35px;
}
.logo{
    width: 400px;
    height: 400px;
}
.color1{
    background-color: rgb(240, 225, 225);
}
.style2{
    background-color: rgb(208, 226, 208);
}