.savebutton{
    background-color: rgb(150, 207, 65);
    color: rgb(255, 255, 255);
}
.heading{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    
}



.button {
    background-color: #fd0e0e;
    font-size: 20px;
}
.h1{
    font-size:25px;
    margin-left: 400px;
    color:blue;
}
.row1{
    background-color: rgb(219, 245, 202);
    height:180vh;
}
.formwidth{
    background-color: white;
    width:90vh;
    border:solid 1px black;
}
.img{
    border-radius:50%;
    width:180px;
    height:180px;
    margin-top:10px;
}
.fname{
    margin-left: 160px;
    font-size: large;
}
.lname{
    font-size: large;
}
.w-50{
    margin-left: 100px;
}
.b{
    color:red;
}
.scrol{
    overflow: auto;
    height: 90vh;
}